@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer base {
  /* * {
    @apply font-poppins;
  } */
  li {
    @apply p-4 flex items-center duration-300;
  }
  li:hover {
    @apply bg-gray-100 text-black;
  }
  li svg {
    @apply mr-3;
  }
  li span {
    @apply ml-10;
  }

  .header {
    @apply font-bold text-2xl pb-4;
  }

  .formFields {
    @apply block w-full px-3 py-1.5 text-base font-normal rounded
           transition text-gray-700 bg-white bg-clip-padding border 
           border-solid border-gray-300 ease-in-out m-0 focus:text-gray-700 
           focus:bg-white focus:border-blue-600 focus:outline-none;
  }

  .checkFields1 {
    @apply float-left mt-1 mr-2 h-4 w-4 cursor-pointer appearance-none 
           rounded-sm border border-gray-300 bg-white bg-contain bg-center 
           bg-no-repeat align-top transition duration-200 checked:border-blue-600 
           checked:bg-blue-600 focus:outline-none;
  }

  .checkFields2 {
    @apply float-left mt-1 mr-2 h-4 w-4 cursor-pointer appearance-none 
           rounded-sm border border-gray-300 bg-white bg-contain bg-center 
           bg-no-repeat align-top transition duration-200 checked:border-blue-600 
           checked:bg-blue-600 focus:outline-none;
  }

  .radioFields {
    @apply appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white 
           checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition 
           duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain 
           float-left mr-2 cursor-pointer;
  }

  .select-decorator {
    @apply block appearance-none w-full bg-gray-200 text-gray-700 
           py-3 px-4 pr-8 rounded leading-tight focus:bg-white;
  }

  .form-btn {
    @apply px-6
      py-3
      my-4
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out;
  }

  .p-dialog {
    @apply md:max-w-[50%];
  }

  .requirement-badge.status-complete {
    background-color: #c8e6c9;
    color: #256029;
  }

  .requirement-badge.status-incomplete {
    background-color: #ffcdd2;
    color: #c63737;
  }

  .requirement-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
  }

}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none !important;
}

.p-tabview-title {
  line-height: 1;
  white-space: nowrap;
  margin-left: 0;
}